<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon" />
    <!-- normalize -->
    <link rel="stylesheet" type="text/css" href="../css/normalize.css" />
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <!-- main css -->
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
    <link rel="stylesheet" type="text/css" href="../css/contact.css" />
    {{!-- font-awesome --}}
    <script type="text/javascript" src="https://kit.fontawesome.com/99352e98c2.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-center">
          <div class="nav-header">
            <form action="/home" method="post">
              <button class="nav-logo" style="background: transparent; border: transparent;">
                <img src="../assets/recipes/Foodism.com.png" alt="Foodism.com">
                <div class="heading">Foodism.com</div>
              </button>
            </form>
            <button type="button" class="btn nav-btn">
                <i class="fas fa-align-justify"></i>
            </button>
          </div>
          <div class="nav-links">
            <form action="/home" method="post"><button class="nav-link" style="background: transparent;">HOME</button></form>
            <form action="/about" method="post"><button class="nav-link" style="background: transparent;">ABOUT</button></form>
            <form action="/add" method="post"><button class="nav-link nav-button adjust" style="background: transparent;">ADD YOUR RECIPE</button></form>
            <form action="/recipesall" method="post"><button class="nav-link nav-button adjust" style="background: transparent;">RECIPES</button></form>
            <div class="nav-link contact-link">
              <form action="/contact" method="post"><button class="btn">contact</button></form>
            </div>
          </div>
        </div> 
      </nav>
    <main class="page">
      <section class="contact-container">
        <article class="contact-info">
          <h3>Get in touch!</h3>
          <p><a href="https://www.instagram.com/aaron_naz25/"><i class="fa-brands fa-instagram"></i></a>aaron_naz25</p>
          <p><a href="https://www.linkedin.com/in/aaron-nazareth-6580311b6/"><i class="fa-brands fa-linkedin"></i></a>Aaron Nazareth</p>
          <p><a href="mailto:jevil257@gmail.com"><i class="fa-solid fa-envelope"></i></a>jevil257@gmail.com</p>
          <p>To Add your recipes, request OR do drop a message</p>
          <p>Do feel free to fill the following contact form. adious!!!!!</p>
          <p>We are group of 3rd year engineering students. made this web page for our web project.</p>
        </article>
        <article>
          <form action="https://formsubmit.co/jevil257@gmail.com" method="post" class="form contact-form">
            <div class="form-row">
              <label for="name" class="form-label">Your Name</label>
              <input type="text" name="name" id="name" class="form-input">
            </div>
            <div class="form-row">
              <label for="email" class="form-label">Your Email</label>
              <input type="email" name="email" id="email" class="form-input">
            </div>
            <div class="form-row">
              <label for="email" class="form-label">Recipes</label>
              <input type="text" name="recipe" id="email" class="form-input">
            </div>
            <div class="form-row">
              <label for="message" class="message">Message</label>
              <textarea name="message" id="message" class="from-textarea"></textarea>
            </div>
            <input type="hidden" name="_next" value="http://localhost:3000/">
            <input type="hidden" name="_captcha" value="false">
            <input type="hidden" name="_template" value="table">
            <button type="submit" class="btn btn-block">submit</button>
          </form>
        </article>
      </section>
      <section class="featured-recipes">
        <h5 class="featured-title">Look At This Awesomesouce!</h5>
        <div class="recipes-list">
          {{#each recipe}}
                {{#if recipe_name}}
                  <form action="/singlerecipe" method="post">
                    <button class="recipe" style="border: none; background:#F8FAFC; ">
                      <input type="hide" value="{{recipe_name}}" class="hid" name="r_name" style="display: none; visibility:hidden";>
                      <img src="{{recipe_pic}}" alt="food" class="img recipe-img">
                      <h5>{{recipe_name}}</h5>
                      <p>Prep : {{preptime}}mins | Cook : {{cooktime}}mins</p>
                    </button>
                  </form>
                {{/if}}
              {{/each}}
        </div>
      </section>
    </main>
      <footer class="page-footer">
        <p>&copy; <span id="date">2022</span>
        <span class="footer-logo">
          Foodism.com
        </span>
      Built by Aaron Nazareth and Aaron Dsouza</p>
      </footer>
  </body>
  <script type="text/javascript" src="../js/app.js"></script>
</html>
