<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipes </title>
    <!-- favicon -->
    <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon" />
    <!-- normalize -->
    <link rel="stylesheet" href="../css/normalize.css" />
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <!-- main css -->
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/recipes.css">
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-center">
          <div class="nav-header">
            <form action="/home" method="post">
              <button class="nav-logo" style="background: transparent; border: transparent;">
                <img src="../assets/recipes/Foodism.com.png" alt="Foodism.com">
                <div class="heading">Foodism.com</div>
              </button>
            </form>
            <button type="button" class="btn nav-btn">
                <i class="fas fa-align-justify"></i>
            </button>
          </div>
          <div class="nav-links show-links">
            <form action="/home" method="post"><button class="nav-link" style="background: transparent;">HOME</button></form>
            <form action="/about" method="post"><button class="nav-link" style="background: transparent;">ABOUT</button></form>
            <form action="/add" method="post"><button class="nav-link nav-button adjust" style="background: transparent;">ADD YOUR RECIPE</button></form>
            <form action="/recipesall" method="post"><button class="nav-link nav-button adjust" style="background: transparent;">RECIPES</button></form>
            <div class="nav-link contact-link">
              <form action="/contact" method="post"><button class="btn">contact</button></form>
            </div>
          </div>
        </div> 
      </nav>
        <main class="page">
          <section class="recipes-container">
            <div class="tags-container">
              <h4>Recipes</h4>
              <div class="tags-list">
                <form action="/randomrecipes" method="post">
                  <input type="hidden" value="chicken">
                  <button style="border: none; background: none;">Sweet</button>
                </form>
                <form action="/randomrecipes" method="post">
                  <input type="hidden" value="chicken">
                  <button style="border: none; background: none;">Breakfast</button>
                </form>
                <form action="/randomrecipes" method="post">
                  <input type="hidden" value="chicken">
                  <button style="border: none; background: none;">Vegetable</button>
                </form>
                <form action="/randomrecipes" method="post">
                  <input type="hidden" value="chicken">
                  <button style="border: none; background: none;">Spicy</button>
                </form>
              </div>
            </div>
            <div class="recipes-list">
              {{#each recipe}}
                {{#if recipe_name}}
                  <form action="/singlerecipe" method="post">
                    <button class="recipe" style="background-color: #F8FAFC;">
                      <input type="text" value="{{recipe_name}}" class="hid" name="r_name">
                      <img src="{{recipe_pic}}" alt="food" class="img recipe-img">
                      <h5>{{recipe_name}}</h5>
                      <p>Prep : {{preptime}}mins | Cook : {{cooktime}}mins</p>
                    </button>
                  </form>
                {{/if}}
              {{/each}}
            </div>
          </section>
        </main>
      <footer class="page-footer">
        <p>&copy; <span id="date">2022</span>
        <span class="footer-logo">
          Foodism.com
        </span>
      Built by Aaron Nazareth and Aaron Dsouza</p>
      </footer>
  </body>
  <script src="../js/app.js"></script>
</html>
