<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Single Recipe</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon" />
    <!-- normalize -->
    <link rel="stylesheet" href="../css/normalize.css" />
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js">
    <!-- main css -->
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/singlerecipe.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-center">
          <div class="nav-header">
            <form action="/home" method="post">
              <button class="nav-logo" style="background: transparent; border: transparent;">
                <img src="../assets/recipes/Foodism.com.png" alt="Foodism.com">
                <div class="heading">Foodism.com</div>
              </button>
            </form>
            <button type="button" class="btn nav-btn">
                <i class="fas fa-align-justify"></i>
            </button>
          </div>
          <div class="nav-links">
            <form action="/home" method="post"><button class="nav-link" style="background: transparent;">HOME</button></form>
            <form action="/about" method="post"><button class="nav-link" style="background: transparent;">ABOUT</button></form>
            <form action="/add" method="post"><button class="nav-link nav-button adjust" style="background: transparent;">ADD YOUR RECIPE</button></form>
            <form action="/recipesall" method="post"><button class="nav-link nav-button adjust" style="background: transparent;">RECIPES</button></form>
            <div class="nav-link contact-link">
              <form action="/contact" method="post"><button class="btn">contact</button></form>
            </div>
          </div>
        </div> 
      </nav>

      {{#each recipe}}
        {{#if recipe_name}}
          <main class="page">
            <div class="recipe-page">
              <section class="recipe-hero">
                <img src="{{recipe_pic}}" class="img recipe-hero-img" alt="pancakes">
                <article>
                  <h2>{{recipe_name}}</h2>
                  <p>{{recipe_description}}</p>
                  <div class="recipe-icons">
                    <article>
                      <i class="fas fa-clock"></i>
                      <h5>prep time</h5>
                      <p>{{preptime}}mins</p>
                    </article>
                    <article>
                      <i class="far fa-clock"></i>
                      <h5>cook time</h5>
                      <p>{{cooktime}}mins</p>
                    </article>
                    <article>
                      <i class="fas fa-user-friends"></i>
                      <h5>servings</h5>
                      <p>{{servings}} servings</p>
                    </article>
                  </div>
                  <div class="recipes-tags">
                    Tags:
                    {{#each tags}} 
                      <a>{{this}}</a>
                    {{/each}}
                  </div>
                </article>
              </section>

              <section class="recipe-content">
                <article>
                  <h4>instructions</h4>
                  {{#each recipe_steps}}
                    <div class="single-instructions">
                      <header>
                        <p>step {{@index}}</p>
                        <div></div>
                      </header>
                      <p>{{this}}</p>
                    </div>
                  {{/each}}
                </article>
                <article class="second-column">
                  <div>
                    <h4>ingredients</h4>
                    {{#each recipe_ingredients}}
                      <p class="single-ingredient">{{this}}</p>
                    {{/each}}
                  </div>
                  <div>
                      <h4>Nutrition Facts </h4>
                      <p class="single-tool">
                        {{calories}}
                        Calories</p>
                      <p class="single-tool">
                        {{fat}}g
                        Fat</p>
                      <p class="single-tool">
                        {{carbs}}g
                      Carbs</p>
                      <p class="single-tool">
                        {{protein}}g
                        Protein</p>
                  </div>
                </article>
              </section>
            </div>
          </main>
        {{/if}}
      {{/each}}
        <footer class="page-footer">
          <p>&copy; <span id="date">2022</span>
          <span class="footer-logo">
            Foodism.com
          </span>
        Built by Aaron Nazareth and Aaron Dsouza</p>
        </footer>

  </body>
  <script src="../js/app.js"></script>
</html>
